body{
    margin: 0%;
    
}

#container{
    padding: 10px;
    color: white;
    font-size: 40px;
    background-color: black;
    width: 180px;
    height: 100vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#sidebarContents{
    padding: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;    
    list-style-type: none;
}

#horizontalLine{
    width: 150px;
}

#home{
    background-color: blue;
    padding: 7px;
    cursor: pointer;
}

#home:hover{
    
    background-color: lightskyblue;
}